body {
  height: 100%;
    font-family: 'Syne', sans-serif;
    color: #fff;
    background: rgb(97,144,232);
background: linear-gradient(156deg, rgba(97,144,232,1) 0%, rgba(115,75,109,1) 100%) fixed;
}

.hero {
    display: flex;
    justify-content: center;
    height:250px;
}

.about-text {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}


.about-text > .animated-text {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  text-shadow: 0 0 3px #fff;
  font-style: italic;
  padding: 10px 20px;
  animation: fadeInUp;
  animation-duration: 3s;
  overflow: hidden;
  margin: 0;
  border: .8px solid white;
  border-radius: 60%;
}

.about-text > .animated-text:hover {
  border: .8px dotted white;
  border-radius: 60%;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar > .nav-links {
    padding: 10px 0px;
    display: flex;
}

.navbar > .nav-links > .nav-link {
    padding: 15px 20px 0px 20px;
    margin: 1px;
}

.navbar > .nav-links img {
  padding: 5px 20px;
  width: 80px;
  height: 51px;
}

.hero h1 {
    padding: 0px 40px;
    font-weight: 700;
    font-size: 7rem;
    text-shadow: 0 0 4px #fff;
    position: absolute;
    animation-duration: 1.5s;
    transition-timing-function: linear;
}

.hero img {
    width: 50px;
    height: 50px;
}

.foot {
  display: flex;
  justify-content: center;
}

.socials-foot {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100px;
}

.socials-foot a {
  padding: 20px;
  opacity: 0.7;
  font-size: 2rem;
  color: white;
  transition: 1s;
}

.socials-foot a:hover {
  opacity: 1;
}